body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #5d64e6, #789ff3);

;

    font-family: Arial, Helvetica, sans-serif;
}

login-box {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(7, 7, 7, 0.2);
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2e59d9;
}

button:disabled {
    background-color: rgb(0, 0, 0);
    cursor: not-allowed;
}
#error-message,
#email-error {
    color: #f2f7f8;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px;
}

